@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* no scrolling on x-axis */
    /* overflow-x: hidden; */
}

nav a {
    margin: auto;
    text-decoration: none;
    color: white;
}

nav a:hover {
    text-decoration: underline 10px;
    /* text-underline-offset: -0.5px; */
}

.first-section {
    background-image: url(https://images.unsplash.com/photo-1616555670626-09496d2eed9e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YmxhY2slMjBhbmQlMjB3aGl0ZSUyMGhvdXNlfGVufDB8fDB8fHww&w=1000&q=80);
    background-repeat: no-repeat;
    /* background-size: 70% 100%; */
    background-color: rgb(55, 189, 61);
}

.first-section .up {
    width: 40vw;
    margin-left: auto;
    margin-right: 50px;
    padding-top: 150px;
}

.first-section .learnmore-btn {
    display: block;
    background-color: rgb(55, 189, 61);
    color: white;
    width: 150px;
    margin: auto;
    transform: translate(0px, -15px);
    box-shadow:
        inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border: none;
}

.first-section .down {
    padding: 10px 25px;
    display: flex;
    justify-content: end;
    margin-right: 50px;
}

.first-section .down img {
    max-height: 50px;
    margin: 10px;
}

.first-section .zoom-btn :first-child {
    display: inline;
    position: absolute;
    padding: 15px;
    border-radius: 50%;
    background-color: rgb(55, 189, 61);
    color: white;
    margin-top: -350px;
    margin-left: 10px;
    box-shadow:
        inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.first-section .zoom-btn :last-child {
    display: inline;
    position: absolute;
    padding: 15px;
    border-radius: 50%;
    background-color: rgb(55, 189, 61);
    color: white;
    margin-top: -290px;
    margin-left: 10px;
    box-shadow:
        inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.second-section {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.second-section div {
    padding: 50px 70px;
}

.second-section *:not(.one) {
    margin-top: 10px;
}

.second-section .one {
    width: 130vw;
    margin-right: -50px;
}

.second-section .one *:not(:first-child) {
    margin-bottom: 20px;
}

.second-section .one :first-child {
    margin-bottom: 30px;
}

.third-section {
    display: flex;
}

.third-section .right {
    display: flex;
}

.third-section .right .left-box {
    width: 90px;
    background-color: rgba(55, 189, 62, 0.602);
}

.third-section .right .right-box {
    width: fit-content;
    background-color: white;
    width: 350px;
    padding: 50px 70px;
    /* margin-right: -50px; */
}

.third-section .right .right-box p {
    margin-bottom: 15px;
}

.third-section .right .right-box :last-child {
    font-size: 9pt;
}

.fourth-section {
    display: flex;
    justify-content: space-around;
    padding: 70px 150px;
}

.fourth-section .item{
   text-align: center;
}

.fourth-section .item img {
    height: 70px;
    margin-bottom: 5px;
}

.fourth-section .item .number {
    color: rgb(97, 97, 97);
    font-size: 20pt;
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-color: rgb(52, 149, 41);
    text-decoration-thickness: 10px;
    margin-bottom: 15px;
}

.fourth-section .item .text {
    color: rgb(164, 164, 164);
}

footer{
    display: flex;
    margin: 15px 60px;
    justify-content: space-around;
}

footer *{
    padding-bottom: 15px;
}


footer .one .social-icon{
    display: flex;
    justify-content: space-around;
}

footer .one .social-icon img{
    max-height: 50px;
}

footer button{
    background-color:  rgb(52, 149, 41);
    padding: 5px 10px; 
    border: none;
    box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    text-align: center;
    color: white;
    line-height: 40px;
    margin-right: 15px;
}

footer button *{
    margin: auto;
}
